.navbar {
  background: $dark-grey;
  color: $white;
  width: 100vw;
  z-index: 100;

  @include desktop {
    background: transparent;
    color: $dark-grey;
    position: fixed;
  }

  &__container {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;

    h1 {
      font-size: 3rem;
    }
  }
}

.navbar.active {

  @include desktop {
    background-color: $dark-grey;
    color: $white;
  }

  .menu-container__link {
    color: $white;

    @include desktop {

      &::after {
        background-color: $white;
      }
    }
  }
}


.logo-text-desktop {
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.menu-container {
  @include desktop {
    display: flex;
    flex-direction: row;
  }

  &__hamburguer-icon {
    cursor: pointer;
    width: 2rem;

    @include desktop {
      display: none;
    }
  }

  &__link {
    cursor: pointer;
    display: none;

    @include desktop {
      display: block;
      font-style: normal;
      margin: 0 1rem;
      text-decoration: none;

      &::after {
        content: '';
        background-color: $dark-grey;
        display: block;
        height: 2px;
        transition: width 0.3s ease;
        width: 0%;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
