.section-container {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  h1 {
    color: brown;
    font-size: rem(32px);
    font-weight: 600;
    text-transform: capitalize;
  }
}
